.conversations
    .header
        %h4 Personal Messages
        .action
            = link_to new_conversation_path do
                New message
                %i.fa.fa-comment
    = render @conversations
    