- get_src_tweet(tweet)
- if tweet.quote.present?
	= render "tweets/quote_tweet", tweet: tweet, src_tweet: @src_tweet
- else
	.context
		%small
			Retweet 
			%i.fa.fa-retweet.text-green
			by
			- if own_tweet?(tweet)
				you
			- else
				@#{ tweet.user.username }
	= render "tweets/tweet_content", tweet: @src_tweet
