- if current_user.retweet_it?(tweet)
	= link_to destroy_retweet_path(tweet), class: "retweet-it", method: :delete, remote: true do
		.icon-container
			%i{ class: "fa fa-retweet", "data-toggle" => "tooltip", "data-placement" =>"top", :title => "Undo retweet" }
		.text-container
		.action-count
			%span= tweet.retweets.size
- else
	= link_to new_retweet_path(tweet), data: { :toggle => "modal", :target => "#modal-tweet", remote: true } do
		.icon-container
			%i{ class: "fa fa-retweet", "data-toggle" => "tooltip", "data-placement" =>"top", :title => "Retweet" }
		.text-container
		.action-count
			%span= tweet.retweets.size
	// = link_to retweet_path(tweet), class: "retweet", method: :post, remote: true do
	// 	.icon-container
	// 		%i{ class: "fa fa-retweet", "data-toggle" => "tooltip", "data-placement" =>"top", :title => "Retweet" }
	// 	.text-container
	// 	.action-count
	// 		%span= tweet.retweets.size