%li.tweet{ id: "tweet_#{ tweet.id }" }
	= link_to "", (tweet.has_src_tweet? ? tweet_path(tweet.src_tweet_id) : tweet_path(tweet.id)), class: "overlay", remote: true
	.tweet-actionable{ "data-url": tweet_path(tweet) }
		.container-fluid
			- if tweet.has_src_tweet?
				= render "tweets/retweet", tweet: tweet
			- else
				= render "tweets/tweet_content", tweet: tweet
