%li.tweet{ id: "tweet_#{ tweet.id }" }
	.tweet-actionable{ "data-url": tweet_path(tweet) }
		.container-fluid
			- if tweet.has_src_tweet?
				= render "tweets/retweet", tweet: tweet
			- else
				= render "tweets/tweet_content", tweet: tweet
