%li{class:"tweet"}
	.container-fluid
		.header
			.account
				= link_to "#" do
					.user-avatar
						%img{ src: "http://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg" }
					.text
						.username
							%span
								%strong= tweet.user.email
							%span @username
			%small{ class: "time" } Now
			.dropdown
				%button#dropdownMenu1.btn.btn-action.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
					%i.fa.fa-chevron-down
				%ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1"}
					%li
						%a{:href => "#"} Action
					%li
						%a{:href => "#"} Another action
					%li
						%a{:href => "#"} Something else here
					%li.divider{:role => "separator"}
					%li
						%a{:href => "#"} Separated link


		.body
			%p= tweet.body
		.footer
			.actions.row
				.reply.col-xs-4
					%button{ class: "btn btn-action" } 
						.icon-container
							%i{ class: "fa fa-reply" }
						.text-container
							.action-count
								%span 2
				.retweet.col-xs-4
					%button{ class: "btn btn-action" } 
						.icon-container
							%i{ class: "fa fa-retweet"}
						.text-container
							.action-count
								%span 3
				.like.col-xs-4
					%button{ class: "btn btn-action" } 
						.icon-container
							%i{ class: "fa fa-heart"}
						.text-container
							.action-count
								%span 6
