%li
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Language
    %span.caret
  %ul.dropdown-menu
    %li
      %a{:href => "#"} English
    %li
      %a{:href => "#"} Spanish