.container
    .notifications
        - if @notifications.any?
            - @notifications.each do |notification|
                .notification
                    %p
                        %span= notification.actor.username
                        = notification.notifiable_type == "Tweet" ? "has #{notification.action} your tweet" : "#{notification.action} you"
        - else
            %h2 No tienes notificaciones