/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "tweets";
@import "font-awesome";
@import "registration";

body {
	background-color: #F5F8FA;
	padding-top: 50px;
}
a {
	color: black;
	&:hover {
		color: black;
		cursor: pointer;
	}
}
.navbar {
	background-color: #fff;
	.navbar-header {
		h1 {
			margin: 0;
		}
		.navbar-brand {
			margin: 0;
			i {
				font-size: 24px;
				color: #1DA1F2
			}
		}
	}
	.navbar-collapse {
		margin-top: 50px;
	}
	.navbar-form {
		padding: 0;
		input[type="text"] {
			width: 100%;
		}
	}
}

.panel-margin {
	margin: 0 4em;
}
.checkbox input[type="checkbox"] {
	margin-left: 0;
}
.panel {
	margin-top: 2em;
	h2 {
		font-size: 24px;
		margin-bottom: 1em;
	}
	form {
		.form-control {
			max-width: 100%;
		}
	}
}

@media screen and (min-width: 600px) {
	.panel {
		max-width: 70%;
		margin: 2em auto;
		form {
			.form-control {
				max-width: 50%;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.navbar {
		.navbar-header {
			position: absolute;
			top: -2px;
			left: 49%;
		}

		.navbar-collapse {
			margin-top: 0;
		}
		.navbar-form {
			padding: 0;
			width: 150px;
		}
	}
}